//
// IMPORTS
//

@import url("https://rsms.me/inter/inter.css");
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

* {
  font-family: $helvetica;
}

@supports (font-variation-settings: normal) {
  * {
    font-family: "Inter var", sans-serif;
  }
}

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.6 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;

  @include mobile {
    padding: 0 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $helvetica;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  margin: 1em 0 0;
  font-weight: 700;
  letter-spacing: -0.03em;
  a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  font-size: 24px;
  letter-spacing: -0.018em;
  a {
    color: inherit;
    text-decoration: none;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $black;
  text-decoration: underline;
  cursor: pointer;
  &:hover,
  &:active {
    color: $red;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  width: 100%;
  max-width: 1400px;
  border-bottom: 1px solid $lightGray;
}

.masthead {
  padding: 20px 0;
  max-width: 740px;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 100%;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helvetica;
  font-weight: 740;
  font-size: 28px;
  letter-spacing: -0.02em;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helvetica;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 600;
    text-decoration: none;

    @include mobile {
      margin: 0 10px;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}

.pagination {
  text-align: center;
  font-size: 18px;

  margin-bottom: 50px;

  @include mobile {
    font-size: 16px;
  }

  a.pagination-item {
    user-select: none;
    font-weight: bold;
    margin: 0 20px;
    text-decoration: none;

    @include mobile {
      margin: 0 10px;
    }

    &.disabled {
      color: lighten($darkGray, 60%);
      cursor: default;
    }
  }
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid $lightGray;

  .icon {
    font-size: 20px;
    padding: 5px;
  }
}

.project {
  img {
    width: 100%;
  }

  &:not(:last-child) {
    padding-bottom: 1em;
    border-bottom: 1px solid $lightGray;
  }
}
