@import "../variables";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: min(100%, 45rem);
  margin: 0.5rem 0;

  @include mobile {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.date {
  margin: 0;
}

.item {
  margin: 0;

  @include mobile {
    margin-bottom: 0.5rem;
  }
}
