@import "mixins";

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0.3rem 0;

  @include mobile {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.date {
  margin: 0;
  font-variant-numeric: tabular-nums;
}

.item {
  margin: 0;

  @include mobile {
    margin-bottom: 0.5rem;
  }
}

.title {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.yearContainer {
  margin: 0.5rem 0;
}

.year {
  font-variant-numeric: tabular-nums;
}