.readMore {
  width: fit-content;
  font-weight: bold;
  display: block;
  margin-top: 0.5rem;
  color: var(--dark-gray);
}

figure.imgContainer {
  & {
    margin-top: 0;
  }
  padding: 1rem 0;
  display: block;
}

.scrollToTop {
  display: block;
  margin-top: var(--vertical-margin);
  font-size: 0.75em;
}

.article {
  margin-top: var(--vertical-margin);
}
