@import "mixins";

.container {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr var(--container-width) 1fr;

  & > * {
    grid-column: 2;
  }

  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }

  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid var(--gray);
    padding: 0.1em 1em;
    color: var(--gray);
  }

  /* images with captions */
  figure {
    padding: 0.25rem 0 var(--vertical-margin);
    figcaption {
      padding: 0.75rem 0 0;
      // captions already have padding
      margin-bottom: calc(-1 * var(--vertical-margin));
      font-size: small;
      text-align: center;

      @include mobile {
        margin-left: var(--horizontal-margin);
        margin-right: var(--horizontal-margin);
      }
    }
  }
}

.border {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--light-gray);
  width: var(--container-width);
  margin: 0 auto;

  &:last-of-type {
    padding-bottom: 1em;
    border-bottom: none;
  }
}
