@import "../variables";

$figure-padding: 2rem;

.container {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr min(45rem, 100%) 1fr;

  & > * {
    grid-column: 2;
  }

  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }

  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
  }

  /* images with captions */
  figure {
    padding: 0.25rem 0 $figure-padding;
    figcaption {
      padding: 0.75rem 0 0;
      // captions already have padding
      margin-bottom: (-$figure-padding);
      font-size: small;
      text-align: center;

      @include mobile {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}

.border {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
  width: min(45rem, 100%);
  margin: 0 auto;

  &:last-of-type {
    padding-bottom: 1em;
    border-bottom: none;
  }
}
