@import "mixins";

.container {
  flex: 1;
  width: 100%;
  display: grid;

  padding: 0 var(--horizontal-margin);
  grid-template-columns: 1fr var(--container-width) 1fr;

  & > * {
    grid-column: 2;
  }

  .full-bleed {
    width: 100%;
    grid-column: 1 / -1;
  }

  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid var(--primary);
    padding: 0.1em 1em;
    color: var(--gray);
  }

  /* images with captions */
  figure {
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);

    figcaption {
      margin-top: 0.75rem;
      padding: 0.75rem 0 0;
      font-size: small;
      text-align: center;

      @include mobile {
        padding: 0.75rem var(--horizontal-margin) 0;
      }
    }
  }

  table {
    border-collapse: collapse;
    margin: 1rem 0;
    width: 100%;

    border: 1px solid var(--gray);

    thead {
      background-color: var(--primary);
    }

    th,
    td {
      padding: 0.25rem 0.5rem;
    }

    tbody tr:nth-of-type(even) {
      background-color: var(--secondary-light-gray);
    }
  }

  // empty <p> are generally at the top of articles... bring those images
  p:empty ~ figure {
    margin-top: 0.25rem;
  }
}
