@import "../variables";

.button {
  display: inline-flex;
  padding: 5px 7px;
}

.container {
  padding: 20px 0;
  text-align: center;

  width: 100%;
  background-color: $darkerGray;

  svg {
    fill: $white;
  }

  margin-top: $footer-top-margin;
  border-top: 0.25rem solid $primary;
}
