@import "../variables";

.masthead {
  width: 100%;
  margin: 0 auto;
  background-color: $darkerGray;
}

.container {
  padding: 2rem 0;
  max-width: min(100%, 45rem);

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @include mobile {
    padding: 1rem var(--horizontal-margin) 1.5rem;
  }
}

.nav {
  display: flex;
  align-items: center;

  a {
    margin-left: 20px;
    color: $white;
    text-align: right;
    font-weight: 700;
    text-decoration: none;

    &:hover,
    &:active {
      color: $primary;
    }
  }

  @include mobile {
    flex-direction: column;
    text-align: right;
    align-items: flex-end;

    a {
      font-weight: unset;
    }
  }
}

.description {
  margin: -5px 0 0 0;
  color: $white;
  font-size: 16px;

  @include mobile {
    display: none;
  }
}

.siteInfo {
  display: flex;
  flex-direction: column;
}

.siteName {
  color: $white;
  margin: 0;
  border: 0;
  box-shadow: unset;
  padding: 0;
  background-color: unset;

  a:hover,
  a:active {
    color: $primary;
  }

  &.mobileSiteName {
    margin-bottom: 0.5rem;
    display: none;
  }

  @include mobile {
    &.mobileSiteName {
      display: block;
    }
    &.desktopSiteName {
      display: none;
    }
  }
}

.twitter {
  fill: $white;
  color: $white;
}

.siteAvatar {
  height: 80px;
  width: 80px;
  margin-right: 1rem;

  img {
    border-radius: 100%;
  }

  @include mobile {
    height: 160px;
    width: 160px;
    margin: 0 auto;
  }
}

.headerLeft {
  display: flex;
}
