@import "../variables";

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  padding: 0 2rem;
  @include mobile {
    padding: 0 1rem;
  }
}
