@import "mixins";

.container {
  display: flex;
  justify-content: center;
  margin: 3rem calc(-1 * var(--horizontal-margin))
    calc(-1 * var(--vertical-margin));
  padding: 1rem 0;
  background-color: var(--primary);
  border-top: 0.25rem solid var(--primary);

  grid-column: 1 / 4;

  @include mobile {
    padding: 0.5rem var(--horizontal-margin);
  }
}

.inner {
  grid-column: 2;
  width: var(--container-width);
  display: flex;
  justify-content: space-between;
}

.pageLink {
  &:hover {
    color: var(--secondary-light-gray);
    cursor: pointer;
  }

  line-height: 2rem;
  text-decoration: none;

  font-weight: bold;
}
