@import "../variables";

.container {
  display: flex;
  justify-content: center;
  margin: 3rem -2rem (-$footer-top-margin);
  padding: 1rem 0;
  background-color: $primary;
  border-top: 0.25rem solid $primary;

  grid-column: 1 / 4;

  @include mobile {
    padding: 0.5rem var(--horizontal-margin);
    margin: 3rem -1rem (-$footer-top-margin);
  }
}

.inner {
  grid-column: 2;
  width: var(--container-width);
  display: flex;
  justify-content: space-between;
}

.pageLink {
  &:hover {
    color: $secondary;
    cursor: pointer;
  }

  line-height: 2rem;
  text-decoration: none;

  font-weight: bold;
}
