@import "../variables";

.container {
  display: flex;
  justify-content: center;
  margin: 2rem -2rem (-$footer-top-margin);
  padding: 1rem 0;
  background-color: $primary;

  grid-column: 1 / 4;

  @include mobile {
    padding: 0.5rem 1rem;
    margin: 2rem -1rem (-$footer-top-margin);
  }
}

.inner {
  grid-column: 2;
  width: min(45rem, 100%);
  display: flex;
  justify-content: space-between;
}

.pageLink {
  &:hover {
    color: $secondary;
    cursor: pointer;
  }

  line-height: 2rem;
  text-decoration: none;

  font-weight: bold;
}

.disabled {
  &:hover {
    // color: $gray;
    color: initial;
    cursor: not-allowed;
  }
  font-weight: normal;
  // color: $gray;
}
