@import "../variables";

.wrapper {
  display: block;
  margin-top: 2rem;

  @include mobile {
    grid-column: 1 / 4;
    margin: 2rem -1rem 0;
    padding: 1.5rem 1rem;
    background-color: $primary;
  }
}
