@import "mixins";

.wrapper {
  display: block;
  margin-top: 2rem;

  @include mobile {
    margin: 2rem calc(-1 * var(--horizontal-margin)) 0;
    padding: 1.5rem 1rem;
    background-color: var(--primary);
  }
}
