@import "mixins";

.container {
  border-top: 0.25rem solid var(--primary);
  margin: var(--horizontal-margin) 0 0;

  @include mobile {
    border: 0;
  }

  .heading {
    margin: var(--horizontal-margin) 0 1rem;
  }

  .post {
    font-weight: normal;
    margin: 0.5em 0 0.25em;
  }
}
