.container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 -5px;
}

.tagItem {
  display: inline;
  padding: 2px 8px;
  margin: 0 5px 5px 0;
  background-color: var(--dark-gray);
  border-radius: 5px;

  &:hover {
    background-color: var(--secondary);
    cursor: pointer;
  }

  a {
    color: var(--white);
    text-decoration: none;
  }
}
