code {
  font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
  background-color: $lightGray;
  padding: 1px 4px;
}

pre {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid $gray;

  overflow: auto;

  code.hljs {
    background-color: unset;
    line-height: 1.1;

    span {
      line-height: 1.1;
    }
    padding: 0;
  }
}

.hljs .hljs-err {
  color: #93a1a1;
} /* Error */
.hljs .hljs-g {
  color: #93a1a1;
} /* Generic */
.hljs .hljs-keyword {
  color: #268bd2;
  font-weight: bold;
} /* Keyword */
.hljs .hljs-literal {
  color: #93a1a1;
} /* Literal */
.hljs .hljs-n,
.hljs .hljs-name {
  color: #b58900;
} /* Name */
.hljs .hljs-o {
  color: #859900;
} /* Operator */
.hljs .hljs-x {
  color: #cb4b16;
} /* Other */
.hljs .hljs-p {
  color: #93a1a1;
} /* Punctuation */
.hljs .hljs-comment {
  color: #586e75;
} /* Comment */
.hljs .hljs-cm {
  color: #586e75;
} /* Comment.Multiline */
.hljs .hljs-cp {
  color: #859900;
} /* Comment.Preproc */
.hljs .hljs-c1 {
  color: #586e75;
} /* Comment.Single */
.hljs .hljs-cs {
  color: #859900;
} /* Comment.Special */
.hljs .hljs-gd {
  color: #2aa198;
} /* Generic.Deleted */
.hljs .hljs-ge {
  color: #93a1a1;
  font-style: italic;
} /* Generic.Emph */
.hljs .hljs-gr {
  color: #dc322f;
} /* Generic.Error */
.hljs .hljs-gh {
  color: #cb4b16;
} /* Generic.Heading */
.hljs .hljs-gi {
  color: #859900;
} /* Generic.Inserted */
.hljs .hljs-go {
  color: #93a1a1;
} /* Generic.Output */
.hljs .hljs-gp {
  color: #93a1a1;
} /* Generic.Prompt */
.hljs .hljs-gs {
  color: #93a1a1;
  font-weight: bold;
} /* Generic.Strong */
.hljs .hljs-gu {
  color: #cb4b16;
} /* Generic.Subheading */
.hljs .hljs-gt {
  color: #93a1a1;
} /* Generic.Traceback */
.hljs .hljs-kc {
  color: #cb4b16;
} /* Keyword.Constant */
.hljs .hljs-kd {
  color: #268bd2;
} /* Keyword.Declaration */
.hljs .hljs-kn {
  color: #859900;
} /* Keyword.Namespace */
.hljs .hljs-kp {
  color: #859900;
} /* Keyword.Pseudo */
.hljs .hljs-kr {
  color: #268bd2;
} /* Keyword.Reserved */
.hljs .hljs-kt {
  color: #dc322f;
} /* Keyword.Type */
.hljs .hljs-ld {
  color: #93a1a1;
} /* Literal.Date */
.hljs .hljs-number {
  color: #2aa198;
} /* Literal.Number */
.hljs .hljs-string {
  color: #586e75;
} /* Literal.String */
.hljs .hljs-attr {
  color: #93a1a1;
} /* Name.Attribute */
.hljs .hljs-nb,
.hljs .hljs-builtin-name {
  color: #cb4b16;
  // font-weight: bold;
} /* Name.Builtin */
.hljs .hljs-class {
  color: #268bd2;
} /* Name.Class */
.hljs .hljs-no {
  color: #cb4b16;
} /* Name.Constant */
.hljs .hljs-nd {
  color: #268bd2;
} /* Name.Decorator */
.hljs .hljs-ni {
  color: #cb4b16;
} /* Name.Entity */
.hljs .hljs-ne {
  color: #cb4b16;
} /* Name.Exception */
.hljs .hljs-function {
  color: #268bd2;
  // font-weight: bold;
  .hljs-keyword {
    color: #cb4b16;
  }

  .hljs-params {
    color: #859900;
  }
} /* Name.Function */
.hljs .hljs-nl {
  color: #93a1a1;
} /* Name.Label */
.hljs .hljs-nn {
  color: #93a1a1;
} /* Name.Namespace */
.hljs .hljs-nx {
  color: #555;
} /* Name.Other */
.hljs .hljs-py {
  color: #93a1a1;
} /* Name.Property */
.hljs .hljs-tag {
  color: #268bd2;
} /* Name.Tag */
.hljs .hljs-nv {
  color: #268bd2;
} /* Name.Variable */
.hljs .hljs-ow {
  color: #859900;
} /* Operator.Word */
.hljs .hljs-w {
  color: #93a1a1;
} /* Text.Whitespace */
.hljs .hljs-mf {
  color: #2aa198;
} /* Literal.Number.Float */
.hljs .hljs-mh {
  color: #2aa198;
} /* Literal.Number.Hex */
.hljs .hljs-mi {
  color: #2aa198;
} /* Literal.Number.Integer */
.hljs .hljs-mo {
  color: #2aa198;
} /* Literal.Number.Oct */
.hljs .hljs-sb {
  color: #586e75;
} /* Literal.String.Backtick */
.hljs .hljs-sc {
  color: #2aa198;
} /* Literal.String.Char */
.hljs .hljs-sd {
  color: #93a1a1;
} /* Literal.String.Doc */
.hljs .hljs-s2 {
  color: #2aa198;
} /* Literal.String.Double */
.hljs .hljs-se {
  color: #cb4b16;
} /* Literal.String.Escape */
.hljs .hljs-sh {
  color: #93a1a1;
} /* Literal.String.Heredoc */
.hljs .hljs-si {
  color: #2aa198;
} /* Literal.String.Interpol */
.hljs .hljs-sx {
  color: #2aa198;
} /* Literal.String.Other */
.hljs .hljs-sr {
  color: #dc322f;
} /* Literal.String.Regex */
.hljs .hljs-s1 {
  color: #2aa198;
} /* Literal.String.Single */
.hljs .hljs-ss,
.hljs .hljs-symbol {
  color: #268bd2;
} /* Literal.String.Symbol */
.hljs .hljs-bp {
  color: #268bd2;
} /* Name.Builtin.Pseudo */
.hljs .hljs-vc {
  color: #268bd2;
} /* Name.Variable.Class */
.hljs .hljs-vg {
  color: #268bd2;
} /* Name.Variable.Global */
.hljs .hljs-vi {
  color: #268bd2;
} /* Name.Variable.Instance */
.hljs .hljs-il {
  color: #2aa198;
} /* Literal.Number.Integer.Long */
