//
// VARIABLES
//

:root {
  --horizontal-margin: 2rem;
  --vertical-margin: 2rem;

  --font-size: 18px;
  --line-height: 1.65;
  --shadow-size: 0.5rem;

  --container-width: min(45rem, 100%);

  --black: #1a1a1a;
  --dark-gray: #333;
  --gray: #666;
  --light-gray: #eee;
  --white: #fff;

  --primary-gray: #2e281f;
  --secondary-light-gray: #e6f0f2;

  --red: #f03009;
  --primary: #ffb132;
  --secondary: #509db3;

  --font-face: "Inter", sans-serif;
}

@include mobile {
  :root {
    --horizontal-margin: 1rem;
    --font-size: 16px;
    --line-height: 1.6;
    --shadow-size: 0.25rem;
  }
}
